{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>SMS</title>
</head>

<body>  <img src="/image/convo.jpg">
    <!-- services section start -->
    <section id="services">
      
        <div class="container mb-5 ">
            <h1 class="text-center text-capitalize pt-4">student Managemet system</h1>
            <hr class="mx-auto w-25 pt-4 ">
            

                 <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-6 col-md-6 col-12">
                            <!-- contact us start -->
<section id="contact">
        <div class="container mb-5  ">
            <h1 class="text-center text-capitalize pt-4">Login</h1>
            <hr class="mx-auto w-25 pt-4 ">
            <div class="w-50 mx-auto">
                <form action="/action_page.php">
                    <div class="form-group">
                        <!-- <label for="email">Enter your Name:</label> -->
                        <input type="text" class="form-control" id="name" placeholder="username">
                    </div>
                    
                    <div class="form-group">
                        <!-- <label for="email">Email address:</label> -->
                        <input type="email" class="form-control" id="email" placeholder="email">
                    </div>
                    <div class="form-group">
                            <!-- <label for="password">password</label> -->
                            <input type="password" class="form-control" id="password" placeholder="password">
                        </div>
                        <button type="submit" class="btn btn-outline-primary">click here</button>
                </form>
    
            </div>
        </div>
    </section>
    <!-- contact us end -->
                    
                        </div>        
                    </div>
                </div>
            </div> 
    </section>
    <!-- service section end -->

    
 <!-- footer start -->
 <footer class="container">
    <hr>
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2017-2019 studentmanagementsystem@gmail.com <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    <hr>  
</footer>
<!-- footer end -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>